:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.apps-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  padding: 2rem;
  border: 2px solid grey;

  &:hover {
    cursor: pointer;
    background: grey;
    color: #fff;
    transition: all 0.5s;
  }
}

.service-online {
  border-color: green;
}

.service-offline {
  border-color: red;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.divider {
  width: 100%;
  border: 1px dotted grey;
}

.mb-2 {
  margin-bottom: 1.75rem;
}

.todo {
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}
