<div class="apps-container">
  <!-- Micro frontends -->
  <ng-container
    [ngTemplateOutlet]="content"
    [ngTemplateOutletContext]="{
      todoService: todoService$ | async,
      settingsService: settingsService$ | async
    }"
  ></ng-container>

  <ng-template
    #content
    let-settingsService="settingsService"
    let-todoService="todoService"
  >
    <div
      [ngClass]="{
        card: true,
        'service-online': todoService,
        'service-offline': !todoService
      }"
      routerLink="todo"
    >
      <p>Todo MicroFrontend</p>
      <p
        [ngClass]="{
          'text-red': !todoService,
          'text-green': todoService
        }"
      >
        status: {{ todoService ? 'Online' : 'Offline' }}
      </p>
    </div>

    <div
      [ngClass]="{
        card: true,
        'service-online': settingsService,
        'service-offline': !settingsService
      }"
      routerLink="settings"
    >
      <div>Settings MicroFrontend</div>
      <p
        [ngClass]="{
          'text-red': !settingsService,
          'text-green': settingsService
        }"
      >
        status: {{ settingsService ? 'Online' : 'Offline' }}
      </p>
    </div>
  </ng-template>
</div>

<!-- Not needed -->
<div class="divider"></div>

<section>
  <h3 class="mb-2">Logs:</h3>

  <ng-container *ngIf="(auditEntries$ | async)!.length > 0; else placeholder">
    <ul class="audit-list">
      <ng-container *ngFor="let entry of auditEntries$ | async">
        <li class="audit-entry">{{ entry.description }}</li>
      </ng-container>
    </ul>
  </ng-container>

  <ng-template #placeholder> Log is empty </ng-template>
</section>
