:host {
  height: 100vh;
}

.navbar {
  width: 100%;
  padding: 1.2rem 0.7rem;
  background: #778822;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin-top: 2rem;
}

.navbar-logo {
  font-weight: bold;

  &:hover {
    color: #bbbbbb;
    transition: 0.2s ease;
    cursor: pointer;
  }
}

.main-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.logout-btn {
  cursor: pointer;
  padding: 0.2rem;
}
