.app-header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.divider {
  margin-bottom: 2rem;
}

.todo-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  padding: 8px;
  gap: 0.1rem;
}

label {
  width: 100%;
  display: block;
}

input {
  width: 100%;
  padding: 0.35rem;
  margin-top: 0.7rem;
  margin-bottom: 0.35rem;
}

.btn {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background: cadetblue;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
  transition: 0.5s all ease;

  &:hover {
    color: cadetblue;
    background: white;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

.submit-btn {
  width: 50%;
  margin-bottom: 0.3rem;
}

.todo-list-container {
  width: 100%;
}

.todo-list-header {
  text-align: left;
  text-decoration: underline;
}
